<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/style.css" rel='stylesheet'>
    <style>
        .name {
            font-family: Courier New, Courier, monospace;
            font-size: 1.9em;
        }

        .jumbotron {
            background-color: ghostwhite;
        }
    </style>
    <meta charset="utf-8" />
</head>

<body ng-app="speakApp">
 <%- include('templates/navigation', {user: user}) %>
    
    <div class="container-fluid" ng-controller="speakController" >
       <div class="row" ng-show='user'>
          <div class='col-md-3 col-xs-2'>
          </div>
        <div class='col-md-6 col-xs-8'>
           <form>
                <div class= 'form-group'>
                     <textarea type='text' class="form-control" ng-model = 'speak' placeholder="Say what's on your mind!" >
                     </textarea>
                 <input type="submit" value="Post" class="btn btn-primary btn-md" />
                 </div>
            </form>
            </div>
          <div class='col-md-3 col-xs-2'>
          </div>
        </div>
    </div>

    <div class="container">
        <% posts.forEach (function (post) { %> 
         <div class='row post'>
             <div class='col-md-2 col-xs-2'>
             </div>
             <div class='col-md-8 col-xs-8'>
                <div class="panel panel-default">
                 <div class="panel-heading">
                    <h3 class="panel-title">Posted by @<%= post.username %>. <small class='pull-right'>posted on <%= post.created_at %></small></h3>
                    
                 </div>
                 <div class="panel-body">
                    <%= post.post %>
                 </div>
                </div>
                </div>
                <div class='col-md-2 col-xs-2'>
                </div>
            </div>
           <% });%>
        </div>
    
    <script>
        window.SPEAK = {
            username: <%- user? JSON.stringify(user.username) :  false %>
        }
    </script>
    <script src="/javascripts/dist/bundle.js"></script>
</body>

</html>